<!DOCTYPE html>
<html>
  <head>
    <!--<link rel="stylesheet" href="css/reset.css">-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <ui:include src="moda.html" />
   
    <title>Peloton Monitor</title>
  </head>

  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="header">
       Peloton Monitor
    </div>

    <div id="tree"></div>s

    <div class="container">
    <div class="comands-tab navbar navbar-inverse">
      <div id="comands">
        <ul class="nav nav-pills">
          <li >
          <button id="stop" type="button" class="btn btn-default action-btn" aria-label="Left Align" ng-click="reqEmployees()">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
          </button>
          </li>
          <li>
            <button id="play" type="button" class="btn btn-default action-btn" aria-label="Left Align" ng-click="play()">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
          </li>
           <li >
            <button id="pause" type="button" class="btn btn-default action-btn" aria-label="Left Align" ng-click="newConnection()">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            </button>
          </li>
          <li >
            <button id="pause" type="button" class="btn btn-default action-btn" aria-label="Left Align" ng-click="openGrafics()">
              <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
      </div>
    </div> 
      <div class="scripts panel panel-default">
        <textarea id="script" ng-model="script"></textarea>
      </div>
      <div class="panel panel-default responses">
        <div>
          <div>
            {{message}}
          </div>
          <table class="table table-response table-bordered">
            <thead class="class="thead-inverse"">
              <tr>
                <th ng-repeat="attr in attributs">{{attr}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in values">
                <td ng-repeat="i in item">{{i}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--<div ng-repeat="item in items">
          <p>{{item}}</p>
          <ul>
            <li ng-repeat="i in item">{{i}}</li>
          </ul>
        </div>

      </div>-->

      <!-- Modal to configure conecction with Pelotondb -->
      <div id="modal-div">
        <div class="modal fade" id="modal-mensagem">
            <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                         <h4 class="modal-title">Setting Connection</h4>
                     </div>
                     <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Connection name</label>
                            <input type="text" class="form-control" id="connection-name" ng-model="connectionName">
                          </div> 
                          <div class="form-group">
                            <label for="recipient-name" class="form-control-label">IP Connection</label>
                            <input type="text" class="form-control" id="ip" ng-model="connectionIp">
                          </div> 
                          <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Port N.</label>
                            <input type="text" class="form-control" id="port" ng-model="connectionPort">
                          </div> 
                          <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Password</label>
                            <input type="password" class="form-control" id="password" ng-model="connectionPassword">
                          </div> 

                        </form>
                     </div>
                     <div class="modal-footer">
                         <button type="btnConnection" id="btnConnection" class="btn btn-default" data-dismiss="modal">Connect</button>
                     </div>
                 </div>
             </div>
         </div>

      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap-treeview.js"></script>
    <script src="js/tree.js"></script>
    <script src="js/index.js"></script>
    <script src="js/actions.js"></script>
  </body>
</html>
